name: Build

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Клонируем репозиторий
      - name: Checkout
        uses: actions/checkout@v4

      # 2. Делаем gradlew исполняемым
      - name: Make gradlew executable
        run: chmod +x ./gradlew

      # 3. Настраиваем JDK 21
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # 4. Обновляем Gradle Wrapper до 8.9
      - name: Recreate Gradle Wrapper (Gradle 8.9)
        run: |
          ./gradlew wrapper --gradle-version 8.9
          chmod +x ./gradlew

      # 5. Настройка Gradle кеширования
      - name: Setup Gradle caching
        uses: gradle/actions/setup-gradle@v4

      # 6. Сборка Debug APK
      - name: Build Debug APK
        run: ./gradlew assembleDebug --stacktrace --no-daemon

      # 7. Загрузка APK как артефакта
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: kakdela-p2p-debug
          path: app/build/outputs/apk/debug/*.apk
