name: Build Kakdela

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build Debug AAB (это главная строка)
        run: ./gradlew :app:bundleDebug

      - name: Upload AAB
        uses: actions/upload-artifact@v4
        with:
          name: Kakdela-debug.aab
          path: app/build/outputs/bundle/debug/app.aab
