name: Unpack ZIP to repository

on:
  workflow_dispatch:

jobs:
  unzip:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install unzip
        run: sudo apt-get install -y unzip

      - name: Unzip archive
        run: unzip -o KakDelaP2P_Full.zip -d unzipped

      - name: Move files
        run: |
          cp -r unzipped/* ./
          rm -rf unzipped

      - name: Delete ZIP
        run: rm KakDelaP2P_Full.zip

      - name: Commit changes
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "GitHub Actions"
          git add .
          git commit -m "Unpacked ZIP"
          git push
